@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --main-family:'Alata',
    sans-serif;
    --sub-family:'Poppins',
    sans-serif;
    --main-bg:#000000;
    --sub-text-color:#7265CF;
    --sub-sub-color:linear-gradient(to right, #AA076B, #61045F);
}


/* nav bar */
a{
    text-decoration: none;
}
body{
    font-family:var(--main-family);
    background:var(--main-bg);
    overflow:hidden;
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
}
#landing-page{
    
    height:100vh;
    position:relative;
    
}
.nav-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding:3rem;
}
.logo > .brand{
    font-family: var(--sub-family);
    font-size:2rem;
    font-weight: 900;
    color:#fafafa;
    margin-left:3rem;
}
.nav-links>.link-item{
    margin-right:1.5rem;
    font-size:1rem;
    color:whitesmoke;
}
.link-item.active{
    color:#7265CF;
}
.nav-links>.link-item:hover{
    color:#7265CF;
    font-size: 1rem;
    font-weight: 900;
    transition:.5s ease-in-out;
    
}

/* Main Landing Page Contents */
.main-text,
.sec-text {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align:center;
}
.sec-text>.skills {
    background:linear-gradient(to right, #AA076B, #61045F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3rem;
    font-size:2rem;
}
.main-text> .big-text{
    margin-top:2rem;
    font-size: 2.5rem;
    color:var(--sub-text-color);
    animation:info 4s  steps(40) 1,blink 1s ease-in-out infinite;
    line-height: 3rem;
    word-spacing: .3rem;
    width: 40ch;
    overflow: hidden;
    white-space: nowrap;
    
}
@keyframes info{
    0%{
        width:0ch;
    }
    100%{
        width: 45ch;
    }
}
@keyframes blink{
    0%{
        border-right:4px solid #d3c0c0;
    }
    100%{
        border-right:4px solid #370a9e;
    }
}
.contain{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}
.social-icons{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin-left:10rem;
    text-align:center;
    width: 50%;
    float:right;
    margin-top:3rem;
    
}
.social-icons > i{
   
    margin-bottom:3.5rem;
    font-size:1.5rem;
    color:#f1f1f1;
}
.social-icons > i:hover{
    color:var(--sub-text-color);
}
/* Svg */
.svg-i{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:50%;
    margin-left:-3rem;
}
.cnt{
    display:flex;
    justify-content:space-around ;
    align-items:center;
    margin:2rem;
    
}
.divider{
        border:0;
        background-image:linear-gradient(to right, #AA076B, #61045F);
        height: 1px;
        width:50%;
        
}
/* About Section */
.about-me{
    margin-top:2rem;
}
.big-heading {
    margin-top:2rem;
    font-size: 2rem;
    color:var(--sub-text-color);
    line-height: 2rem;
    word-spacing: .3rem;
    white-space: nowrap;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding:3rem 5rem;
    background: url(../Images/blob.svg) no-repeat;
    background-size: contain;
    background-position: bottom 30% top 100%;
    z-index:0;
    
}
.profile>.profile-img{
    height:400px;
    width: 350px;
    margin:0 2rem 0 5rem;
}
.profile>.bio{
    font-size:1.4rem;
    line-height: 2rem;
    font-family:'Montserrat',
    sans-serif;
    color:#f1f1f1;
    word-spacing: .6rem;
    padding:0 3rem;
    
}

        /* Why me */
.row-md-lg{
   margin-top: 2rem;
}
.top>.reason{
    text-align:center;
    color:var(--sub-text-color);
}
.cards{
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     align-items: center;
     justify-content: space-evenly;
     color:white;
     margin:0 2rem 0 2rem;
}
.col-md-lg{
    text-align:center;
    padding:1rem;
    margin:1rem;
    width:310px;
    
}
.title>.big-g-heading{
    font-size: 2rem;
    background:linear-gradient(to right, #AA076B, #61045F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3rem;
    word-spacing: .3rem;
    white-space: nowrap;
    
}
.col-md-lg > i{
    font-size:2rem;
    margin:2rem;
}
.message>p{
    margin: 1rem;
    text-align:center;
}

/* My Projects */
.projects {
    margin-top:2rem;
    padding: 3% 5% 3% 5%;
    background: black;
    
}
.my-projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow:dense;
     /* place-items: center;  */
}
.box {
    text-decoration: none;
    color: white;
}

.contents {
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 2rem 3rem;
    margin: 1rem;
    background:#141414;
}
.my-project:nth-child(1) {
    grid-column: span 3;
    grid-row:span 1;
    transform:translateX(20%);
    
}
.my-project:nth-child(2){
    grid-column:span 2;
    grid-row: span 1;
     margin-left:3rem; 
}
.my-project:nth-child(3){
    grid-column: span 2;
    grid-row:span 1;
}
.my-project:nth-child(4){
    grid-column:span 3;
    grid-row:span 1;
   transform:translateX(20%);
}
.language{
    margin-right: 1rem;
}
.last{
    position: relative;
    margin-left:350px;
}

.name{
    color:var(--sub-text-color)
}
.name,
.description {
    margin: 1rem;
}
.projects>.hd{
 text-align:center;
}
.hd{
   
    font-size: 3rem;
    background:linear-gradient(to right, #AA076B, #61045F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 4rem;
    word-spacing: .3rem;
    white-space: nowrap;
    margin:1rem;
}
.tt{
    margin-right:.5rem;  
}


.cnt-cnt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 2rem 0 2rem;

}

.divider-divider {
    border: 0;
    background-image: linear-gradient(to right, #AA076B, #61045F);
    height: 1px;
    width: 50%;

}

    /* Blog section */
.blog-sec{
    margin:0 5%;
}
.top-hd>.bb {
    font-size:2rem;
    text-align:center;
    margin-top: 2rem;
    display:block;
}
.blogs{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
    margin:4rem 0 4rem 0; 
    
}
.pub-link{
    text-decoration:none;
    color:white;
    
    /* margin-top:2rem; */
}
.blog-content{
    /* display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-direction: column; */
    padding:3%;
    margin:3rem;
    width:300px;
    height:400px;
    text-align: center;
    background:#141414;
    
}
.blog-thumbnail>img{
    height:200px;
    width:100%;
    margin-bottom:1rem;
}
.blog-title>h2{
    margin-bottom:1rem;
    color:var(--sub-text-color)
}
.blog-post > p{
    line-height:2rem;
    word-spacing: .6rem;
    /* letter-spacing: .1rem; */
    font-size:1rem;
    margin:1rem 0;
    font-family:var(--sub-family)
}
.btm-cnt>.pub-dat,.author{
    margin:1rem;

}
/* Contact Section */
.contact{
    padding:1.5rem;
    /* background:#141414; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con-btn>button{
    /* border-radius:0 0 20px 20px; */
    background:var(--sub-sub-color);
    font-size:1rem;
    font-family: 'Montserrat',
    sans-serif;
    color:white;
    border:none;
    outline: hidden;
    padding:1rem;
}
.social-icons-btm{
        /* display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%; */
        margin-top:2rem;
}
.social-icons-btm>i{
     margin-right:1rem; 
    font-size:1rem;
    color:#f1f1f1;
}
.footer{
    background:#141414;
    margin-bottom: 0;
    padding:2rem;
}

/* All media query breakpoints */
@media only screen and (max-width:1200px) {
    .my-projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-template-rows: minmax(100px, auto);
        grid-auto-flow: dense;
        /* place-items: center;  */
    }
    /* .my-project{
        grid-column: unset;
        grid-row:unset;
    } */
    .my-project:nth-child(1){
        transform:translateX(0);
        grid-column: unset;
        grid-row:unset;
        
    }
    .my-project:nth-child(2){
        margin-left:0;
        grid-column: unset;
        grid-row:unset;
    }
    .my-project:nth-child(3){
grid-column: unset;
grid-row:unset;
    }
    .my-project:nth-child(4){
        transform:translateX(0);
        grid-column: unset;
        grid-row:unset;
    }
    .big-heading {
        margin-top: 2rem;
        font-size: 2rem;
        color: var(--sub-text-color);
        line-height: .5rem;
        word-spacing: .3rem;
        white-space: nowrap;
}
    .sec-text>.skills {
        background: linear-gradient(to right, #AA076B, #61045F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .main-text>.big-text {
        margin-top: 2rem;
        font-size: 1.25rem;
        color: var(--sub-text-color);
        animation: info 4s steps(40) 1, blink 1s ease-in-out infinite;
        line-height: 1.5rem;
        word-spacing: .3rem;
        width: 40ch;
        padding:.5rem;
        overflow: hidden;
        white-space: nowrap;

    }
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-wrap:wrap;
        padding: 3rem 5rem;
        background: url(../Images/blob.svg) no-repeat;
        background-size: contain;
        background-position: bottom 30% top 100%;
        z-index: 0;

    }
    .profile>.bio {
        font-size: 1.4rem;
        line-height: 2rem;
        font-family: 'Montserrat',
            sans-serif;
        color: #f1f1f1;
        word-spacing: .6rem;
        text-align:center;

    }
}